# Server
PORT=4000
NODE_ENV=development

# MongoDB (Atlas free tier: mongodb+srv://... or local: mongodb://localhost:27017/legal_ninja)
MONGODB_URI=
# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# AI Providers (use at least one)

GROQ_API_KEY=


# Paystack
PAYSTACK_SECRET_KEY=sk_test_...
PAYSTACK_PUBLIC_KEY=pk_test_...

# Flutterwave
FLW_SECRET_KEY=FLWSECK_TEST-...
FLW_PUBLIC_KEY=FLWPUBK_TEST-...

# Admin
ADMIN_SECRET_KEY=a8ad52bab911837ec9bdc716dac12ac6899f0e5a5f833e624c40291c56efbf0d

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:3000
